$third: #F5DB13;
$primary: #F2B807;
$second: #F28F16;
$danger: #D93E30;
$white: #F2F2F2;
$dark: #212121;

$deuteranopia-third: #FAD942;
$deuteranopia-primary: #DCBF36;
$deuteranopia-second: #BFA62F;
$deuteranopia-danger: #88772E;
$deuteranopia-protanopia-white: #F5F6F8;
$nopia-dark: #1E1E1E;

$protanopia-third: #F1CE33;
$protanopia-primary: #CCAF2B;
$protanopia-second: #A68E23;
$protanopia-danger: #62562C;

$tritanopia-third: #FFC2B4;
$tritanopia-primary: #FF9A94;
$tritanopia-second: #FF6C71;
$tritanopia-danger: #F80037;
$tritanopia-white: #F3F6F7;

$stile-dark-rock :#A1A1A1;
$grass-bug: #70A83B;
$ice-water: #A2CFF0;
$fire-fighting-dragon: #F76545;
$normal-gosth: #76AADB;
$posion-psychic-fairy-ghost: #A974BC;
$ground: #9B897B;
$electric: #F7C545;

$yellow-btn: #F2CB07;
$green-btn: #73D677;
$blue-btn: #07D6F2;
$black: #000000;
$grey-gradient: linear-gradient(180deg, #FFFFFF 30.32%, #F5F5F5 100%);
$yellow-gradient: linear-gradient(180deg, #F5DB13 0%, #F2B807 100%);
$grey: #C4C4C4;
$grey-text: #4B4B4B;
$dark-grey: #8b8b8b;
$light-grey: #F6F7F9;
$transparent: transparent;
$white-light: #FDFDFD
