h1 {
  font-family: 'Karla-Regular', sans-serif;
  font-weight: 400;
  font-size: 72px;
  line-height: 84px;
  letter-spacing: 4px;
  color: $black;
}

h2 {
  font-family: 'Karla-Regular', sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 37px;
  color: $black;
}

h3 {
  font-family: 'Karla-Bold', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: $black;
}

h4 {
  font-family: 'Karla-Regular', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: $black;
}

h5 {
  font-family: 'Karla-Regular', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: $black;
}

h6 {
  font-family: 'Karla-Regular', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: $black;
}

p {
  font-family: 'SourceSansPro-Regular', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $black;
}
